In [141]:
import pandas as pd
import numpy as np

In [142]:
df = pd.read_csv('Airline Dataset Updated - v2.csv', encoding='ISO-8859-1')

In [143]:
df.head(10)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-IsÃ¨re Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time
5,nMJKVh,Lora,Durbann,Female,55,Brazil,Coronel HorÃ¡cio de Mattos Airport,BR,Brazil,SAM,South America,06-10-2022,LEC,Inglis Dolley,On Time
6,8IPFPE,Rand,Bram,Male,73,Ivory Coast,Duxford Aerodrome,GB,United Kingdom,EU,Europe,10/30/2022,QFO,Stanislas Tiffin,Cancelled
7,pqixbY,Perceval,Dallosso,Male,36,Vietnam,Maestro Wilson Fonseca Airport,BR,Brazil,SAM,South America,04-07-2022,STM,Sharyl Eastmead,Cancelled
8,QNAs2R,Aleda,Pigram,Female,35,Palestinian Territory,Venice Marco Polo Airport,IT,Italy,EU,Europe,8/20/2022,VCE,Daryn Bardsley,On Time
9,3jmudz,Burlie,Schustl,Male,13,Thailand,Vermilion Airport,CA,Canada,NAM,North America,04-06-2022,YVG,Alameda Carlyle,On Time

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  object
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
dtypes: int64(1), object(14)
memory usage: 11.3+ MB

In [145]:
df.isna()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98615,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98616,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98617,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98618,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [146]:
df.sum().isnull()

Passenger ID            False
First Name              False
Last Name               False
Gender                  False
Age                     False
Nationality             False
Airport Name            False
Airport Country Code    False
Country Name            False
Airport Continent       False
Continents              False
Departure Date          False
Arrival Airport         False
Pilot Name              False
Flight Status           False
dtype: bool

In [147]:
#df['Gender'].isna().sum()

In [148]:
df.nunique()

Passenger ID            98619
First Name               8437
Last Name               41658
Gender                      2
Age                        90
Nationality               240
Airport Name             9062
Airport Country Code      235
Country Name              235
Airport Continent           6
Continents                  6
Departure Date            364
Arrival Airport          9024
Pilot Name              98605
Flight Status               3
dtype: int64

In [149]:
for col in df.columns:
    print(f"{col}: {df[col].unique()}")

Passenger ID: ['ABVWIg' 'jkXXAX' 'CdUz2g' ... 'VUPiVG' 'E47NtS' '8JYEcz']
First Name: ['Edithe' 'Elwood' 'Darby' ... 'Merlina' 'Syd' 'Maggy']
Last Name: ['Leggis' 'Catt' 'Felgate' ... 'Smurfitt' 'Bauldrey' 'Lucken']
Gender: ['Female' 'Male']
Age: [62 67 71 21 55 73 36 35 13 39 47 77 32 22 28 12 87 24 19 45 29  8 14 53
  6 58 44  9 74 37 54 61 56 85 50 83 17 76 51 16 23 41 52 33 89  3 30 26
 78 43 80 49 68 70 46 65  2  7 25 88 18  4 27 10 72 79 66 38 84 11 20 82
 86 42  1 90 69 75 15 40 48 64 57 59 34 81  5 63 31 60]
Nationality: ['Japan' 'Nicaragua' 'Russia' 'China' 'Brazil' 'Ivory Coast' 'Vietnam'
 'Palestinian Territory' 'Thailand' 'Tunisia' 'Sweden' 'Colombia' 'Greece'
 'Philippines' 'Ukraine' 'Indonesia' 'Croatia'
 'Democratic Republic of the Congo' 'France' 'Peru' 'Latvia' 'Germany'
 'Czech Republic' 'Ireland' 'Iran' 'Madagascar' 'United States' 'Ghana'
 'Mali' 'Guatemala' 'Kyrgyzstan' 'Haiti' 'Afghanistan' 'Ethiopia'
 'Tanzania' 'Nigeria' 'Cameroon' 'Morocco' 'Armenia' 'Mexico' 'Chile'
 'Albania' 'Luxembourg' 'Honduras' 'Portugal' 'Kazakhstan' 'Pakistan'
 'Poland' 'South Africa' 'Kenya' 'Serbia' 'Maldives' 'Argentina' 'Uruguay'
 'Netherlands' 'Botswana' 'Egypt' 'Syria' 'Myanmar' 'Slovenia' 'Spain'
 'Macedonia' 'Mongolia' 'Yemen' 'Benin' 'Laos' 'Norway'
 'Sao Tome and Principe' 'Venezuela' 'United Kingdom' 'Denmark'
 'Dominican Republic' 'North Korea' 'Bangladesh' 'Mozambique'
 'Bosnia and Herzegovina' 'Canada' 'Lithuania' 'Sri Lanka' 'Belarus'
 'Niger' 'Uzbekistan' 'Malaysia' 'Sierra Leone' 'Moldova' 'Switzerland'
 'Nepal' 'Belgium' 'Iraq' 'Finland' 'Uganda' 'Azerbaijan' 'East Timor'
 'Marshall Islands' 'Georgia' 'Gabon' 'New Caledonia' 'South Korea'
 'Central African Republic' 'Guinea-Bissau' 'Paraguay' 'Suriname'
 'Jamaica' 'Saint Lucia' 'Israel' 'Zambia' 'Turkmenistan' 'Burkina Faso'
 'Jordan' 'New Zealand' 'Libya' 'Mauritius' 'Somalia' 'Kiribati' 'Ecuador'
 'Namibia' 'Estonia' 'Guam' 'Costa Rica' 'Palau' 'Angola' 'Austria'
 'Tajikistan' 'Oman' 'Cyprus' 'French Guiana' 'Sudan' 'Montenegro'
 'Lebanon' 'Australia' 'Republic of the Congo' 'Cuba' 'Malta'
 'Saudi Arabia' 'Italy' 'Romania' 'Dominica' 'Bhutan' 'Western Sahara'
 'Guinea' 'Panama' 'Bolivia' 'Samoa' 'Comoros' 'Kosovo' 'Bulgaria'
 'Cambodia' 'Liechtenstein' 'Bahamas' 'Kuwait' 'Zimbabwe' 'Hungary'
 'Taiwan' 'Iceland' 'French Polynesia' 'Cape Verde' 'Lesotho'
 'Cocos Islands' 'Saint Kitts and Nevis' 'Chad' 'El Salvador' 'Bahrain'
 'Reunion' 'Christmas Island' 'Mauritania' 'Trinidad and Tobago'
 'Guadeloupe' 'Bermuda' 'Equatorial Guinea' 'Solomon Islands' 'Senegal'
 'Turkey' 'Papua New Guinea' 'Antigua and Barbuda' 'Nauru' 'Togo'
 'Slovakia' 'Guyana' 'Liberia' 'United Arab Emirates' 'Micronesia'
 'Norfolk Island' 'Qatar' 'Gambia' 'Malawi' 'Djibouti' 'Singapore'
 'Cayman Islands' 'Anguilla' 'Aruba' 'South Sudan' 'Curacao' 'Fiji'
 'Puerto Rico' 'Hong Kong' 'Faroe Islands' 'Aland Islands' 'Burundi'
 'Eritrea' 'San Marino' 'Vanuatu' 'Mayotte' 'India' 'Algeria' 'Andorra'
 'U.S. Virgin Islands' 'Belize' 'Grenada' 'Monaco' 'Seychelles' 'Jersey'
 'Barbados' 'Saint Vincent and the Grenadines' 'Martinique'
 'American Samoa' 'South Georgia and the South Sandwich Islands' 'Tuvalu'
 'Isle of Man' 'Niue' 'Saint Helena' 'Montserrat' 'Cook Islands'
 'Swaziland' 'Svalbard and Jan Mayen' 'Falkland Islands'
 'Saint Pierre and Miquelon' 'Wallis and Futuna'
 'French Southern Territories' 'Bonaire, Saint Eustatius and Saba '
 'Rwanda' 'Tokelau' 'Tonga' 'Macao' 'Saint Martin' 'Pitcairn'
 'Northern Mariana Islands' 'Greenland' 'Brunei' 'British Virgin Islands'
 'Sint Maarten']
Airport Name: ['Coldfoot Airport' 'Kugluktuk Airport' 'Grenoble-IsÃ¨re Airport' ...
 'Camaxilo Airport' 'Babelthuap Airport' 'Westchester County Airport']
Airport Country Code: ['US' 'CA' 'FR' 'BR' 'GB' 'IT' 'MX' 'PA' 'PK' 'AU' 'ZA' 'VE' 'CN' 'MG'
 'CO' 'MR' 'MM' 'CG' 'ZM' 'WS' 'NC' 'GQ' 'PG' 'BS' 'ID' 'RU' 'BO' 'KE'
 'BF' 'GT' 'TW' 'IN' 'NO' 'CR' 'PT' 'LK' 'PF' 'MZ' 'DZ' 'NP' 'BG' 'IR'
 'HN' 'SD' 'JP' 'DO' 'IS' 'VN' 'SY' 'RO' 'KY' 'DE' 'SK' 'BW' 'SA' 'EC'
 'CM' 'MN' 'DM' 'PY' 'IL' 'HR' 'AR' 'VU' 'NZ' 'CD' 'UA' 'SE' 'NI' 'MY'
 'ET' 'PL' 'CU' 'ES' 'KH' 'OM' 'PE' 'GY' 'UY' 'MA' 'EE' 'KW' 'GR' 'SN'
 'GA' 'SO' 'CI' 'FK' 'SB' 'ZW' 'GD' 'CL' 'VI' 'MH' 'JM' 'PH' 'SR' 'PR'
 'WF' 'TN' 'TR' 'HU' 'TZ' 'SI' 'TO' 'AO' 'AF' 'LS' 'EG' 'LY' 'MW' 'CV'
 'NL' 'MO' 'LR' 'KI' 'TH' 'LA' 'MP' 'CH' 'AT' 'TG' 'AZ' 'NF' 'YE' 'JO'
 'NG' 'BZ' 'UG' 'RW' 'MV' 'KR' 'FO' 'LT' 'FM' 'FI' 'UM' 'ER' 'TL' 'FJ'
 'EH' 'DK' 'BD' 'BY' 'TM' 'MF' 'PS' 'CY' 'TV' 'CZ' 'CF' 'NR' 'AG' 'SS'
 'GL' 'DJ' 'BE' 'IQ' 'SL' 'LC' 'MT' 'TD' 'MK' 'MD' 'BA' 'UZ' 'BI' 'QA'
 'AE' 'RE' 'KZ' 'SH' 'IE' 'TC' 'KN' 'ST' 'CK' 'GN' 'SZ' 'GP' 'KG' 'BM'
 'GF' 'AS' 'HK' 'VG' 'BJ' 'HT' 'GW' 'AM' 'SV' 'GU' 'ML' 'SG' 'CC' 'GM'
 'ME' 'NE' 'BQ' 'LU' 'VC' 'KM' 'BL' 'TJ' 'SC' 'GH' 'MU' 'NU' 'BT' 'LV'
 'TT' 'AI' 'IM' 'LB' 'RS' 'GG' 'GE' 'CX' 'PM' 'YT' 'BN' 'JE' 'KP' 'GI'
 'AD' 'BH' 'BB' 'SX' 'IO' 'MQ' 'AL' 'MS' 'MC' 'AW' 'PW']
Country Name: ['United States' 'Canada' 'France' 'Brazil' 'United Kingdom' 'Italy'
 'Mexico' 'Panama' 'Pakistan' 'Australia' 'South Africa'
 'Venezuela, Bolivarian Republic of' 'China' 'Madagascar' 'Colombia'
 'Mauritania' 'Myanmar' 'Congo' 'Zambia' 'Samoa' 'New Caledonia'
 'Equatorial Guinea' 'Papua New Guinea' 'Bahamas' 'Indonesia'
 'Russian Federation' 'Bolivia, Plurinational State of' 'Kenya'
 'Burkina Faso' 'Guatemala' 'Taiwan, Province of China' 'India' 'Norway'
 'Costa Rica' 'Portugal' 'Sri Lanka' 'French Polynesia' 'Mozambique'
 'Algeria' 'Nepal' 'Bulgaria' 'Iran, Islamic Republic of' 'Honduras'
 'Sudan' 'Japan' 'Dominican Republic' 'Iceland' 'Viet Nam'
 'Syrian Arab Republic' 'Romania' 'Cayman Islands' 'Germany' 'Slovakia'
 'Botswana' 'Saudi Arabia' 'Ecuador' 'Cameroon' 'Mongolia' 'Dominica'
 'Paraguay' 'Israel' 'Croatia' 'Argentina' 'Vanuatu' 'New Zealand'
 'Congo, The Democratic Republic of the' 'Ukraine' 'Sweden' 'Nicaragua'
 'Malaysia' 'Ethiopia' 'Poland' 'Cuba' 'Spain' 'Cambodia' 'Oman' 'Peru'
 'Guyana' 'Uruguay' 'Morocco' 'Estonia' 'Kuwait' 'Greece' 'Senegal'
 'Gabon' 'Somalia' "CÃ´te d'Ivoire" 'Falkland Islands (Malvinas)'
 'Solomon Islands' 'Zimbabwe' 'Grenada' 'Chile' 'Virgin Islands, U.S.'
 'Marshall Islands' 'Jamaica' 'Philippines' 'Suriname' 'Puerto Rico'
 'Wallis and Futuna' 'Tunisia' 'Turkey' 'Hungary'
 'Tanzania, United Republic of' 'Slovenia' 'Tonga' 'Angola' 'Afghanistan'
 'Lesotho' 'Egypt' 'Libya' 'Malawi' 'Cabo Verde' 'Netherlands' 'Macao'
 'Liberia' 'Kiribati' 'Thailand' "Lao People's Democratic Republic"
 'Northern Mariana Islands' 'Switzerland' 'Austria' 'Togo' 'Azerbaijan'
 'Norfolk Island' 'Yemen' 'Jordan' 'Nigeria' 'Belize' 'Uganda' 'Rwanda'
 'Maldives' 'Korea, Republic of' 'Faroe Islands' 'Lithuania'
 'Micronesia, Federated States of' 'Finland'
 'United States Minor Outlying Islands' 'Eritrea' 'Timor-Leste' 'Fiji'
 'Western Sahara' 'Denmark' 'Bangladesh' 'Belarus' 'Turkmenistan'
 'Saint Martin (French part)' 'Palestine, State of' 'Cyprus' 'Tuvalu'
 'Czechia' 'Central African Republic' 'Nauru' 'Antigua and Barbuda'
 'South Sudan' 'Greenland' 'Djibouti' 'Belgium' 'Iraq' 'Sierra Leone'
 'Saint Lucia' 'Malta' 'Chad' 'North Macedonia' 'Moldova, Republic of'
 'Bosnia and Herzegovina' 'Uzbekistan' 'Burundi' 'Qatar'
 'United Arab Emirates' 'RÃ©union' 'Kazakhstan'
 'Saint Helena, Ascension and Tristan da Cunha' 'Ireland'
 'Turks and Caicos Islands' 'Saint Kitts and Nevis'
 'Sao Tome and Principe' 'Cook Islands' 'Guinea' 'Eswatini' 'Guadeloupe'
 'Kyrgyzstan' 'Bermuda' 'French Guiana' 'American Samoa' 'Hong Kong'
 'Virgin Islands, British' 'Benin' 'Haiti' 'Guinea-Bissau' 'Armenia'
 'El Salvador' 'Guam' 'Mali' 'Singapore' 'Cocos (Keeling) Islands'
 'Gambia' 'Montenegro' 'Niger' 'Bonaire, Sint Eustatius and Saba'
 'Luxembourg' 'Saint Vincent and the Grenadines' 'Comoros'
 'Saint BarthÃ©lemy' 'Tajikistan' 'Seychelles' 'Ghana' 'Mauritius' 'Niue'
 'Bhutan' 'Latvia' 'Trinidad and Tobago' 'Anguilla' 'Isle of Man'
 'Lebanon' 'Serbia' 'Guernsey' 'Georgia' 'Christmas Island'
 'Saint Pierre and Miquelon' 'Mayotte' 'Brunei Darussalam' 'Jersey'
 "Korea, Democratic People's Republic of" 'Gibraltar' 'Andorra' 'Bahrain'
 'Barbados' 'Sint Maarten (Dutch part)' 'British Indian Ocean Territory'
 'Martinique' 'Albania' 'Montserrat' 'Monaco' 'Aruba' 'Palau']
Airport Continent: ['NAM' 'EU' 'SAM' 'AS' 'OC' 'AF']
Continents: ['North America' 'Europe' 'South America' 'Asia' 'Oceania' 'Africa']
Departure Date: ['6/28/2022' '12/26/2022' '1/18/2022' '9/16/2022' '2/25/2022' '06-10-2022'
 '10/30/2022' '04-07-2022' '8/20/2022' '04-06-2022' '5/27/2022'
 '02-06-2022' '3/19/2022' '3/24/2022' '03-07-2022' '7/18/2022' '9/23/2022'
 '3/29/2022' '11-03-2022' '09-05-2022' '2/19/2022' '11-05-2022'
 '8/24/2022' '08-06-2022' '3/20/2022' '10-03-2022' '12-05-2022'
 '04-09-2022' '4/14/2022' '7/22/2022' '08-05-2022' '3/25/2022'
 '11/23/2022' '6/25/2022' '12/21/2022' '01-11-2022' '12-11-2022'
 '12/15/2022' '6/16/2022' '07-08-2022' '5/17/2022' '2/21/2022' '3/21/2022'
 '11-08-2022' '6/22/2022' '4/26/2022' '03-06-2022' '5/13/2022' '5/15/2022'
 '12-08-2022' '9/22/2022' '02-07-2022' '7/27/2022' '11/24/2022'
 '12/18/2022' '4/29/2022' '1/31/2022' '07-05-2022' '7/20/2022'
 '11-10-2022' '07-06-2022' '10-11-2022' '5/25/2022' '10/27/2022'
 '10/25/2022' '05-02-2022' '9/14/2022' '11/25/2022' '7/15/2022'
 '8/26/2022' '02-12-2022' '5/19/2022' '7/17/2022' '11/16/2022'
 '05-07-2022' '10/29/2022' '08-09-2022' '9/26/2022' '1/20/2022'
 '08-07-2022' '12-10-2022' '9/25/2022' '11/26/2022' '04-01-2022'
 '6/17/2022' '7/31/2022' '7/14/2022' '9/17/2022' '5/18/2022' '11/28/2022'
 '4/13/2022' '06-03-2022' '7/30/2022' '04-04-2022' '01-04-2022'
 '03-08-2022' '10/26/2022' '1/13/2022' '08-01-2022' '12-04-2022'
 '3/17/2022' '2/24/2022' '8/15/2022' '10/23/2022' '4/27/2022' '5/23/2022'
 '8/19/2022' '12/28/2022' '10/28/2022' '11/15/2022' '12/24/2022'
 '10/19/2022' '10/16/2022' '10/21/2022' '04-08-2022' '12/27/2022'
 '07-12-2022' '5/31/2022' '06-11-2022' '2/17/2022' '11/30/2022'
 '7/21/2022' '2/26/2022' '08-11-2022' '6/19/2022' '8/28/2022' '12-06-2022'
 '11-01-2022' '3/30/2022' '1/23/2022' '07-11-2022' '07-03-2022'
 '4/25/2022' '8/16/2022' '10-07-2022' '11/29/2022' '3/28/2022'
 '02-08-2022' '12/17/2022' '3/26/2022' '09-01-2022' '06-07-2022'
 '08-12-2022' '1/30/2022' '8/17/2022' '10-01-2022' '2/13/2022' '5/28/2022'
 '05-12-2022' '10/13/2022' '8/23/2022' '10-05-2022' '8/21/2022'
 '05-11-2022' '03-12-2022' '7/28/2022' '11/14/2022' '09-04-2022'
 '1/14/2022' '05-05-2022' '06-12-2022' '4/18/2022' '4/24/2022' '5/29/2022'
 '09-10-2022' '6/24/2022' '09-06-2022' '04-05-2022' '01-12-2022'
 '5/21/2022' '1/25/2022' '07-07-2022' '02-02-2022' '1/26/2022'
 '05-03-2022' '9/24/2022' '8/27/2022' '1/27/2022' '07-09-2022' '6/20/2022'
 '10-08-2022' '10-12-2022' '12/16/2022' '2/18/2022' '5/30/2022'
 '6/26/2022' '2/20/2022' '10/22/2022' '10/14/2022' '02-03-2022'
 '6/15/2022' '12-09-2022' '01-02-2022' '10/31/2022' '06-09-2022'
 '06-02-2022' '6/23/2022' '12/19/2022' '9/29/2022' '11/27/2022'
 '8/30/2022' '12-03-2022' '1/16/2022' '11/20/2022' '11-11-2022'
 '12/13/2022' '10/20/2022' '12/22/2022' '4/21/2022' '3/14/2022'
 '9/20/2022' '1/17/2022' '03-05-2022' '6/21/2022' '12/30/2022' '4/16/2022'
 '4/30/2022' '02-05-2022' '8/14/2022' '03-04-2022' '09-07-2022'
 '12/23/2022' '9/28/2022' '04-12-2022' '7/16/2022' '09-02-2022'
 '07-10-2022' '03-03-2022' '10/17/2022' '8/13/2022' '03-09-2022'
 '2/27/2022' '1/28/2022' '08-03-2022' '03-01-2022' '9/18/2022'
 '10/24/2022' '6/18/2022' '08-10-2022' '02-04-2022' '10-09-2022'
 '05-08-2022' '5/26/2022' '11-02-2022' '12-12-2022' '3/23/2022'
 '09-03-2022' '6/13/2022' '06-04-2022' '9/15/2022' '04-10-2022'
 '1/22/2022' '6/14/2022' '08-08-2022' '9/13/2022' '2/14/2022' '10/18/2022'
 '02-11-2022' '1/19/2022' '4/22/2022' '10-10-2022' '09-12-2022'
 '01-10-2022' '9/21/2022' '1/15/2022' '12/20/2022' '12-07-2022'
 '2/15/2022' '9/30/2022' '01-08-2022' '4/20/2022' '04-11-2022'
 '01-09-2022' '6/29/2022' '8/22/2022' '8/18/2022' '4/28/2022' '07-02-2022'
 '06-01-2022' '05-09-2022' '8/29/2022' '7/25/2022' '5/20/2022' '5/16/2022'
 '2/28/2022' '7/13/2022' '01-07-2022' '03-11-2022' '3/27/2022'
 '09-08-2022' '06-05-2022' '9/19/2022' '4/15/2022' '7/29/2022'
 '12/25/2022' '2/16/2022' '11/21/2022' '01-03-2022' '01-01-2022'
 '07-01-2022' '2/22/2022' '9/27/2022' '04-03-2022' '7/23/2022'
 '11-04-2022' '09-09-2022' '11/22/2022' '4/17/2022' '09-11-2022'
 '10-06-2022' '11/18/2022' '08-02-2022' '11-12-2022' '3/18/2022'
 '11/17/2022' '4/19/2022' '1/24/2022' '02-09-2022' '05-01-2022'
 '10/15/2022' '02-01-2022' '12-01-2022' '7/19/2022' '5/14/2022'
 '1/29/2022' '08-04-2022' '05-10-2022' '11-09-2022' '3/16/2022'
 '6/30/2022' '05-04-2022' '01-05-2022' '11-06-2022' '5/22/2022'
 '8/25/2022' '11/13/2022' '05-06-2022' '10-02-2022' '11/19/2022'
 '12-02-2022' '8/31/2022' '2/23/2022' '3/15/2022' '10-04-2022'
 '01-06-2022' '11-07-2022' '06-06-2022' '7/24/2022' '3/13/2022'
 '4/23/2022' '06-08-2022' '07-04-2022' '3/31/2022' '5/24/2022' '1/21/2022'
 '12/29/2022' '03-02-2022' '6/27/2022' '3/22/2022' '7/26/2022'
 '12/14/2022' '04-02-2022' '02-10-2022' '03-10-2022']
Arrival Airport: ['CXF' 'YCO' 'GNB' ... 'CXM' 'ROR' 'HPN']
Pilot Name: ['Fransisco Hazeldine' 'Marla Parsonage' 'Rhonda Amber' ... 'Gearalt Main'
 'Judon Chasle' 'Auguste Tindley']
Flight Status: ['On Time' 'Delayed' 'Cancelled']

In [150]:
#Drop ID column
df2 = df.drop(columns=['Passenger ID'], inplace=False)

In [151]:
df2['Arrival Airport'] = df2['Arrival Airport'].apply(lambda x: np.nan if x == '0' else x)
df3 = df2.dropna(subset=['Arrival Airport'])

In [152]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97746 entries, 0 to 98618
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   First Name            97746 non-null  object
 1   Last Name             97746 non-null  object
 2   Gender                97746 non-null  object
 3   Age                   97746 non-null  int64
 4   Nationality           97746 non-null  object
 5   Airport Name          97746 non-null  object
 6   Airport Country Code  97746 non-null  object
 7   Country Name          97746 non-null  object
 8   Airport Continent     97746 non-null  object
 9   Continents            97746 non-null  object
 10  Departure Date        97746 non-null  object
 11  Arrival Airport       97746 non-null  object
 12  Pilot Name            97746 non-null  object
 13  Flight Status         97746 non-null  object
dtypes: int64(1), object(13)
memory usage: 11.2+ MB

In [153]:
#Replace departure date anomaly
df3['Departure Date'] = df3['Departure Date'].str.replace('-','/')

C:\Users\AYU SEKAR\AppData\Local\Temp\ipykernel_12676\3673017025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Departure Date'] = df3['Departure Date'].str.replace('-','/')

In [154]:
#Membuat kolom baru khusus month 

df3['Departure Date'] = pd.to_datetime(df3['Departure Date'], format='%m/%d/%Y')
df3['Month'] = df3['Departure Date'].dt.month_name()

C:\Users\AYU SEKAR\AppData\Local\Temp\ipykernel_12676\171682716.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Departure Date'] = pd.to_datetime(df3['Departure Date'], format='%m/%d/%Y')
C:\Users\AYU SEKAR\AppData\Local\Temp\ipykernel_12676\171682716.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Month'] = df3['Departure Date'].dt.month_name()

In [156]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97746 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   First Name            97746 non-null  object
 1   Last Name             97746 non-null  object
 2   Gender                97746 non-null  object
 3   Age                   97746 non-null  int64
 4   Nationality           97746 non-null  object
 5   Airport Name          97746 non-null  object
 6   Airport Country Code  97746 non-null  object
 7   Country Name          97746 non-null  object
 8   Airport Continent     97746 non-null  object
 9   Continents            97746 non-null  object
 10  Departure Date        97746 non-null  datetime64[ns]
 11  Arrival Airport       97746 non-null  object
 12  Pilot Name            97746 non-null  object
 13  Flight Status         97746 non-null  object
 14  Month                 97746 non-null  object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 11.9+ MB

In [155]:
df3.to_csv('Data_cleaned_Airlines2.csv')